<div class="center jumbotron">
  <h1 style="color: black; font-weight: bold; padding: 50px 25px; text-align: center;"> Alpha Blog</h1>
  <p><%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg btn-xlarge" %></p>
</div>